.city-search-form {
    background-color: var(--C_white);
    width: 1112px;
    height: 128px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 556px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(0 5px 10px var(--C_darkGray));
    z-index: 0;
}

.city-search-select {
    width: 558px;
    height: 48px;
    border-radius: 10px;
    padding: 5px 25px;
    color: var(--C_lightGray);
    border-color: var(--C_lightGray);
}

.city-search-button {
    width: 349px;
    height: 48px;
    border-radius: 10px;
}


@media screen and (max-width: 1160px) {
    .city-search-form {
        width: 638px;
        left: calc(50% - 319px);
    }

    .city-search-select {
        width: 320px;
    }

    .city-search-button {
        width: 200px;
    }
  }

  @media screen and (max-width: 800px) {
    .city-search-form {
        width: 320px;
        left: calc(50% - 160px);
        flex-direction: column;
    }

    .city-search-select {
        width: 238px;
    }

    .city-search-button {
        width: 145px;
    }
  }