.footer-top {
    background-color: var(--C_lightBlue);
    height: 374px;
    z-index: 2;
    position: relative;
    color: var(--C_white)
}

.footer-bottom {
    background-color: var(--C_black);
    color: var(--C_white);
    height: 97px;
}

.footer-link-top {
    text-decoration: none;
    color: var(--C_white);
}

.footer-link-bottom {
    text-decoration: none;
    color: var(--C_white);
    filter:opacity(60%);
}

.footer-top-left {

}

.footer-top-right {

}