:root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */

  --C_lightBlue: #00A2E1;
  --C_black: #000000;
  --C_darkBlue: #3A5295;
  --C_lightGray: #CED3D8;
  --C_darkGray: #383838;
  --C_white: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Epilogue", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 64px;
}

h2 {
  font-weight: 500;
  font-size: 36px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
}

button {
  background-color: var(--C_darkBlue);
  color: var(--C_white);
  border-style: none;
}



